{namespace vh = Acme\Blog\ViewHelpers}
<f:layout name="Default" />

<f:section name="MainContent">
	<f:if condition="{blogs}">
		<f:then>
			<ul>
				<f:for each="{blogs}" as="blog">
					<li class="post">
						<f:render partial="BlogActions" arguments="{blog: blog}"/>
						<h2>
							<vh:if condition="{blog.description}" or="{blog.posts -> f:count()} > 0">
								<f:then><f:link.action action="index" controller="Post" arguments="{blog: blog}">{blog.title}</f:link.action></f:then>
								<f:else>{blog.title}</f:else>
							</vh:if>
						</h2>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p><f:translate id="blog.action.no_record" /></p>
		</f:else>
	</f:if>
	<p>
		<f:link.action action="new"><f:translate id="blog.action.new" /></f:link.action>
	</p>
</f:section>
