<f:layout name="Blog" />

<f:section name="MainContent">
	<h2><f:translate id="blog.action.new.title" /></h2>
	<f:render partial="FormErrors" arguments="{for: 'newBlog'}" />
	<f:form action="create" objectName="newBlog">

		<label for="blog-title"><f:translate id="blog.title" /></label>
		<f:form.textfield property="title" id="blog-title" />

		<label for="blog-description"><f:translate id="blog.description" /></label>
		<f:form.textarea property="description" rows="5" cols="30" id="blog-description" />

		<f:form.submit name="submit" value="{f:translate(id: 'blog.action.create')}" />
		<f:link.action action="index" arguments="{blog: blog}"><f:translate id="action.back" /></f:link.action>
	</f:form>
</f:section>
