<f:layout name="Default" />

<f:section name="Title"><f:translate id="post" /></f:section>

<f:section name="MainContent">
	<div class="row">
		<p class="list-group">
			<f:if condition="{previousPost}">
				<f:link.action action="show" arguments="{post: previousPost, blog: post.blog}" rel="prev" class="btn btn-default">
					<span class="glyphicon glyphicon-backward"></span>
					<f:translate id="action.previous" />
				</f:link.action>
			</f:if>
			<f:if condition="{nextPost}">
				<f:link.action action="show" arguments="{post: nextPost: blog: post.blog}" rel="next" class="btn btn-default pull-right">
					<f:translate id="action.next" />
					<span class="glyphicon glyphicon-forward"></span>
				</f:link.action>
			</f:if>
		</p>
		<p class="lead">
			{post.subject}
		</p>
		<p>{post.content -> f:format.nl2br()}</p>
		<f:render partial="PostMetaData" arguments="{post: post, blog: post.blog}"/>
	</div>
	<div class="row">
		<f:link.action action="index" arguments="{blog: post.blog}">
			<span class="glyphicon glyphicon-backward"></span>
			<f:translate id="action.back" />
		</f:link.action>
		<f:form action="delete" arguments="{post: post, blog: post.blog}" class="pull-right">
			<span class="glyphicon"></span>
			<f:form.submit name="delete" value="{f:translate(id: 'action.delete')}" class="btn btn-danger" />
		</f:form>
		<f:link.action action="edit" arguments="{post: post, blog: post.blog}" class="btn btn-warning pull-right">
			<span class="glyphicon glyphicon-edit"></span>
			<f:translate id="action.edit" />
		</f:link.action>
	</div>
</f:section>
