<f:layout name="Blog" />

<f:section name="MainContent">
	<div class="post">
		<nav>
			<ul>
				<f:if condition="{previousPost}">
					<li><f:link.action action="show" arguments="{post: previousPost, blog: blog}" rel="prev"><f:translate id="post.action.previous" /></f:link.action></li>
				</f:if>
				<f:if condition="{nextPost}">
					<li class="next"><f:link.action action="show" arguments="{post: nextPost: blog: blog}" rel="next"><f:translate id="post.action.next" /></f:link.action></li>
				</f:if>
			</ul>
		</nav>
		<f:render partial="PostActions" arguments="{post: post, blog: blog}"/>
		<h2>
			<f:link.action action="show" arguments="{post: post, blog: blog}">{post.subject}</f:link.action>
		</h2>
		<p>{post.content -> f:format.nl2br()}</p>
		<f:render partial="PostMetaData" arguments="{post: post, blog: blog}"/>
	</div>
	<f:link.action action="index" arguments="{blog: blog}"><f:translate id="action.back" /></f:link.action>
</f:section>
