<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title><f:translate id="page.title" /></title>
	<link rel="stylesheet" href="../../Public/Styles/App.css" type="text/css" />
</head>
<body>

	<header>
		<h1><f:translate id="page.title" /></h1>
		<f:link.action action="index" controller="Standard" package="TYPO3.Welcome"><f:translate id="action.back" /></f:link.action>
	</header>

	<div id="content">
		<f:flashMessages class="flashmessages" />
		<f:render section="MainContent" />
	</div>

	<footer>
		<a href="{f:translate(id: 'page.by.url')}">
			{f:translate(id: 'page.by')}
		</a>
	</footer>

</body>
</html>
